body {
    background-color: red;
}

.btn-primary {
    background-color: darkgreen;
    border-color: #0b2e13;
}

fieldset {
    border: solid 1px darkgreen;
    padding: 1em;
}

.jumbotron {
    background-color: darkgreen;
    color: white;
}

legend {
    font-weight: bold;
    color: darkgreen;
    font-variant: small-caps;
    font-size: 125%;
}

#main {
    background-color: white;
    margin: 0 10em 5em 10em;
    padding-bottom: 6em;
}



